table {
    width: 100%;
    padding: 10px;
}
table#tabla2 {
    background-color: #b2babb;
}
hr {
    text-align: left;
    color: #b2babb;
}
tr#borde1 {
    border-top: 1px solid;
}
tr#borde2 {
    border-bottom: 1px solid;
}
img {
    text-align: right;
}
div {
    border: 2px solid;
    width: 25%;
    padding: 10px;
    float:left;
}
div#medio {
    float: left;
    margin-left: 200px;
}
h1#Titulo {
    color: rgb(255, 98, 0);
    font-size: 48px;
    line-height: 43px;
    text-align: center;
}
