table {
    width: 100%;
    padding: 10px;
}
table#tabla2 {
    background-color: #b2babb;
}
hr {
    text-align: left;
    color: #b2babb;
}
tr#borde1 {
    border-top: 1px solid;
}
tr#borde2 {
    border-bottom: 1px solid;
}
img {
    text-align: right;
}
div {
    border: 2px solid;
    width: 60%;
    padding: 10px;
    float:left;
}
