table {
    width: 50%;
    padding: 10px;
}
table#tabla2 {
    background-color: grey;
    text-align: center;
}
hr {
    width: 50%;
    text-align: left;
}
tr#borde1 {
    border-top: 1px solid;
}
tr#borde2 {
    border-bottom: 1px solid;
}
img {
    text-align: right;
}
